.custom-image-shadow {
    filter: drop-shadow(0px 0px 3px    #3b82f6 );
  }


  .moving_image {
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0); 
  }
  50% {
      transform: translateY(5px); 
  }
}